* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    background-color: var(--colorBackground);
    padding: 30px;
    border: 1px solid var(--colorBackground);
    border-radius: 20px;
    color: #fff;
}

:root {
    --colorBackground: #59C;
}